.header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.title {
  font-size: var(--font-size-lg);
  line-height: var(--line-height-lg);
}

.message {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
}
