.icon {
  width: 4rem;
  height: 4rem;
}

.image {
  height: 4rem;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  overflow: hidden;
  padding: var(--space-1);
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
