.fileName {
  display: flex;
  justify-content: center;
  margin-top: var(--space-12);
  margin-bottom: var(--space-12);
  word-break: break-all;
}

.error {
  margin-bottom: var(--space-4);
}

.submitButton {
  padding: var(--space-2) var(--space-12);
}
