.fileName {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  word-break: break-all;
}

.error {
  margin-bottom: 1rem;
}

.submitButton {
  padding: 0.5rem 3rem;
}
