.header {
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: center;
	gap: 0.75rem;
	padding: 1rem;
}

.slot {
	width: 2rem;
	height: 2rem;
}

.title {
	overflow: hidden;
	text-align: center;
	font-size: 1.25rem;
	line-height: 1.75rem;
	letter-spacing: 0.05em;
	word-break: break-all;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
