.formGroup {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.input {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--gray-300);
  border-radius: var(--radius-sm);
}

.input:focus {
  outline: none;
}

.input:disabled {
  background: var(--gray-200);
}

.error {
  margin-top: 0.25rem;
  color: var(--error-color);
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.submitButton {
  padding: 0.5rem 3rem;
}
