@import "tailwindcss";

:root {
	--background-color: #ffffff;
	--text-color: #4d4945;
	--primary-color: #f57e00;
	--accent-color: #7e00f5;
	background: var(--background-color);
	color: var(--text-color);
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fade-in {
	animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.fade-out {
	animation: fadeOut 0.2s ease-in-out forwards;
}
